{% extends 'base.html' %}
{% block title %}SL Blog{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-8 offset-2">
    <div class="card shadow-sm">
    <img src="{{ post.thumbnail }}" class="card-img-top" alt="{{ post.title }}">

      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">By {{ post.author}} in 
        {% for category in categories %}
            <span class="badge bg-dark">{{ category }}</span>
        {% endfor %}
         </p>
        <p class="card-text">
            {{ post.content|linebreaks }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}